<!DOCTYPE html>
<html lang="pt_br">
<head>

    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ort</title>

</head>

<body>

    <h2>Your coordinates are X={{ x }} and Y={{ y }}, X2={{ x2 }} and Y2={{ y2 }}. The distance between points is {{ d }}</h2>

    <form action="/stl/" method="post">
        <button name="stl" type="submit">Gerar Objeto 3D</button>
    </form>

</body>
</html>